
body{
    display: grid;
    justify-content: center;
}
.container{
    margin-top: 150px;
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-rows:    repeat(var(--canvas-size), 1fr);
    grid-template-columns: repeat(var(--canvas-size), 1fr);
    background-color: #656565;
    padding: 1px;

    
}
.board{
    background-color: white;
    border: 0.1px solid rgba(0, 0, 0, 0.8);
    padding: 0px;
    
    

}

.brush{
    border: 0px;
    margin: 0px;
    padding: 0px;
}
