
body{
    display: grid;
    justify-content: center;
}
.container{
    margin-top: 150px;
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-rows:    repeat(var(--canvas-size), 1fr);
    grid-template-columns: repeat(var(--canvas-size), 1fr);
    background-color: #656565;
    padding: 1px;
    box-shadow: 0px 0px 15px -1px rgba(100, 210, 184, 0.47); 
    border-width: px;

    
}
.board{
    background-color: white;
    border: 10px;
    padding: 1px;
   
    
    

}

.slider{
    width: 50%;
}