:root{
    background-color: #FDEEDC;
    font-family: 'MuseoModerno', cursive;
    font-style: regular;
}

.header{
    box-sizing: border-box;
    text-align: center;
    padding-top:25px;
    padding-bottom:25px;
    font-size: 25px;
}


body{
    line-height: 1.6;
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    background-size: 300% 300%;
    background-image: linear-gradient(
          -45deg, 
          #a27b5cb5 0%, 
          #dcd7c99d 25%, 
          #f999b791 51%, 
          #F9C5D5 100%
    );  
    animation: AnimateBG 30s ease infinite;
  }
  
  @keyframes AnimateBG { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.border-box{
    display: flex;

}

.container{
    display: grid;
    box-sizing: border-box;
    height: 500px;
    width: 500px;
    grid-template-rows:    repeat(var(--canvas-size), 1fr);
    grid-template-columns: repeat(var(--canvas-size), 1fr);
    background-color: #656565;
    box-shadow: 0px 0px 15px -1px #f1a76148; 

    
}
.board{
    background-color: white;
}

.slide-container{
    padding-top: 10px;
    text-align: center;
    border-radius: 0rem;
    max-width: 100%;
    width: 100px;

    
}

.slider{
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 65px;
    background: none;
    border-radius: 5px;
    height: 15px;
    background-color: #00666625;


}
.slider:hover{
  background-color: #00666635;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%; 
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    border-radius: 0%;
    background: #006666; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

  .slider::-moz-range-thumb:hover{
    background: #F1A661;
  }

.main-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 1100px;
    margin: 0 auto;
}

.pixel-text{
    margin-bottom: 0px;
margin-top: 0px;
}


.menu-bar{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 50px;
    width: 200px;
    margin-left: 90px;
    margin-top: 0px;
    margin-bottom: 80px;
    

}


.menu-buttons{
    background-color: #F1A661;
    width: 65px;
    height: 70px;
    border-style: none;
    text-align: center;
    font-size: 26px;
    padding: 0px;
    cursor: pointer;

    
}

.menu-buttons:hover{
    background-color: #E38B29;

}

#color-selector{
    padding: 0px;
    width: 65px;
    height: 70px;
    border-style: none;
    cursor: pointer;
}


.footer{
    justify-content: center;
    text-align: center;


}

.center{
    display: flex;
    flex-direction: column;
}