:root{
    background-color: #FDEEDC;
}

.header{
    box-sizing: border-box;
    text-align: center;
    padding-top:25px;
    padding-bottom:25px;
    font-size: 25px;
    font-family: Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, Arial Black, sans-serif;
}

body{
    line-height: 1.6;
    margin-bottom: 100px;
}

.border-box{
    display: flex;

}

.container{
    display: grid;
    box-sizing: border-box;
    height: 500px;
    width: 500px;
    grid-template-rows:    repeat(var(--canvas-size), 1fr);
    grid-template-columns: repeat(var(--canvas-size), 1fr);
    background-color: #656565;
    box-shadow: 0px 0px 15px -1px #f1a76134; 

    
}
.board{
    background-color: white;
}

.slide-container{
    text-align: center;
    border-radius: 0rem;
    max-width: 100%;
    width: 100px;
    
}

.slider{
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 65px;
    background: none;
    border-radius: 5px;
    height: 15px;

}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%; 
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    border-radius: 0%;
    background: #006666; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

  .slider::-moz-range-thumb:hover{
    background: #F1A661;
  }

.main-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 1100px;
    margin: 0 auto;
}


.menu-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 200px;
    margin-top: 50px;
    margin-left: 90px;
    

}


.menu-buttons{
    background-color: #F1A661;
    width: 65px;
    height: 70px;
    border-style: none;
    text-align: center;
    font-size: 26px;
    padding: 0px;
    cursor: pointer;

    
}

.menu-buttons:hover{
    background-color: #E38B29;

}

#color-selector{
    padding: 0px;
    width: 65px;
    height: 70px;
    border-style: none;
    cursor: pointer;
}


.footer{
    justify-content: center;
    text-align: center;
    padding-top: 70px;

}