

body{
    display: grid;
    justify-content: center;
   
}

.border-box{
    display: flex;

}

.container{
    display: grid;
    margin-top: 200px;
    height: 500px;
    width: 500px;
    grid-template-rows:    repeat(var(--canvas-size), 1fr);
    grid-template-columns: repeat(var(--canvas-size), 1fr);
    background-color: #656565;
    padding: 1px;
    box-shadow: 0px 0px 15px -1px rgba(100, 210, 184, 0.47); 
    border-width: px;

    
}
.board{
    background-color: white;
}

.slide-container{

    width: 50%;
    margin-top: 700px;
}


.menu-bar{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* #eraser{
    width: 65px;
    height: 70px;

    border-style: solid;
    border-color: rgba(221, 72, 224, 0.227);
    text-align: center;
    margin-left: 1rem;
    margin: 50px;
    padding-bottom: 0%;
} */

.pencil{
    width: 65px;
    height: 70px;

    border-style: solid;
    border-color: rgba(221, 72, 224, 0.227);
    text-align: center;
    margin-left: 1rem;
    margin: 50px;
    padding-bottom: 0%;
}

#color-selector{
    padding: 0px;
    width: 65px;
    height: 70px;
    border-style: none;
}